@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* background-color: rgb(167 243 208); */
}
div.ant-table-header > table > colgroup {
	background-color: #f0fdf4 !important;
}

.ant-pagination-item.ant-pagination-item-2.ant-pagination-item-active {
	border-color: green;
}
.ant-pagination-item.ant-pagination-item-2.ant-pagination-item-active > a {
	color: green;
}

.anticon.anticon-caret-down.ant-table-column-sorter-down.active > svg {
	fill: green;
}
